@use "./reset";
@use "./variables";

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--bg-clr);
  color: var(--fg-clr);
  color-scheme: dark light;
}

.hover-panel {
  position: relative;

  .panel {
    display: none;
    position: absolute; 
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    background-color: var(--bg-clr);
    color: var(--fg-clr);

    min-width: 9rem;
    border-radius: .325rem;
    border: 1px solid var(--fg-clr);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
    li {
      padding: .25rem 1rem;
      border-radius: .325rem;
      transition: all .2s;
      &:hover {
        background-color: rgba(128, 128, 128, 0.267);
      }
    }
  }
  &:hover {
    .panel {
      display: block;
    }
  }
}